* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #123ecf;
    color: white;
    margin-bottom: 20px;
}

.btn1 {
    transition: width 0.3s ease-in-out;
}

.btn1:hover {
    width: 260px;
}

.btn2 {
    /* transition-property: background-color;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out; */
    transition: all 0.3s ease-in-out;
}

.btn2:hover {
    width: 260px;
    background-color: #002398;
}

.btn3 {
    transition: width 0.5s ease-in-out 0.5s, color 0.5s ease-in-out;
}

.btn3:hover {
    width: 260px;
    background-color: #002398;
}